
@{
    ViewData["Title"] = "NotAuthorizedToViewResources";
}


<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
</div>

<h1>Hi @User.Identity.Name You are not Authorized to view the resources you try to access</h1>
<h1>Kindly, reach out to Administrator to give you access.</h1>
<h1>Thanks</h1>


